
.visibility_hid{ visibility: hidden }
.bg {
    background-color: #aaa;
    height: 2000px; /*for scroll*/
} /* class for body background */



.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 70rem;
}
.flex-items-default {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50rem;
    margin: 2rem auto;
}

.scroll-indicator {
    position: fixed;
    display: block;
    top: 90%;
}

.fillopacity{fill-opacity:1}

