// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
	background-color: #fff;
	color: #fff;
	font-size: 1rem;
	height: 4.9rem;
	padding: 0 2.4rem;
	position: relative;
	top: -1px;

	&__inner {
		font-size: 1.6em;
		line-height: 3.125;
		margin: 0 auto;
		max-width: 128rem;
	}

	img, a {
		display: inline-block;
		margin: 0 9rem 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		vertical-align: middle;
	}

	a {
		color: #fff;
		font-weight: 800;
		outline: 0;
		padding-left: 4.5rem;
		position: relative;
		text-decoration: none;

		&:before {
			background-position: top left;
			background-repeat: no-repeat;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			top: 0;
		}

		&.-person-icon {

			&:before {
				background-image: url( '../../img/head.png' );
				height: 3.1rem;
				left: 0.5rem;
				top: 0.8rem;
				width: 3rem;
			}
		}

		&.-bubble-icon {

			&:before {
				background-image: url( '../../img/speaker.png' );
				height: 3.1rem;
				top: 0.8rem;
				width: 3.6rem;
			}
		}

		&.-book-icon {

			&:before {
				background-image: url( '../../img/book.png' );
				height: 3.1rem;
				top: 0.8rem;
				width: 3.4rem;
			}
		}

		&.-color-green {
			color: #5a9005;
		}

		&.-color-purple {
			color: #74369d;
		}

		&.-color-red {
			color: #da2228;
		}

		&.is-selected {

			&:after {
				border-bottom: 3rem solid #fff;
				border-left: 3rem solid transparent;
				border-right: 3rem solid transparent;
				content: "";
				display: block;
				height: 0;
				left: 50%;
				position: absolute;
				top: -3rem;
				transform: translateX( -50% );
				width: 0;
			}
		}
	}
}

@media (max-width: 1260px) {

	.footer {

		img, a {
			margin-right: 5rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

}

@media (max-width: 1130px) {

	.footer {

		img, a {
			margin-right: 3rem;

			&:first-child {
				margin-right: 1em;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

}

@media (max-width: 1035px) {

	.footer {

		img, a {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

}

@media (max-width: 990px) {

	.footer {
		padding: 0 1.2rem;

		&__inner {
			font-size: 1.5em;
			line-height: 3.5;
		}

		img {
			display: none;
		}
	}

}