
.fil2 {fill:#EF977C}/*skeen color*/
.hidden_{opacity: 0;}

 .str5 {stroke:#F9CA6B;stroke-width:1}
    .str6 {stroke:#CCCCCC;stroke-width:1} 
    .str0 {stroke:#EF977C;stroke-width:7;stroke-linecap:round}
    .fil3 {fill:none}
    .fil1 {fill:#006696}
    .fil18 {fill:#016493}
    .fil19 {fill:#183F5B}
    .fil16 {fill:#563636}
    .fil15 {fill:#6E443D}
    .fil13 {fill:#724842}
    .fil22 {fill:#7E89A8}
    .fil7 {fill:#B64B4D}
    .fil24 {fill:#E6E6E6}
    .fil12 {fill:#E8745D}
    .fil14 {fill:#EBCA9C}
    
    .fil17 {fill:#EF9887}


.tabletop0 {stroke:#F9CA6B;stroke-width:2}
.tabletop1 {stroke:#E0BF94;stroke-width:2}
.chear {stroke:#888;stroke-width:2}

.buildings {fill:#A7D6E2;fill-rule:nonzero} 
.sky {fill:#DFF2F6;fill-rule:nonzero} 
.floor {fill:#CCCCCC;fill-rule:nonzero} 
.bin {fill:#927A6C}
.black_{fill:black}
.pen1{fill:#EDC80A}
.pen2{fill:#D1AE15}
.ruber {fill:#F29785}
.fil4 {fill:#FDE4AC}
.fil5 {fill:#F2521F}
.bg { background-color: #bbb; }


.steam{
position: relative;
top:40px;
left:125px;
-webkit-animation: steam 5s linear infinite 3s;
-moz-animation: steam 5s linear infinite 3s;
-ms-animation: steam 5s linear infinite 3s;
-o-animation: steam 5s linear infinite 3s;
animation: steam 5s linear infinite 3s;
  
}
.steam:before,
.steam:after{
  content: " ";
  position: absolute;
  top:0;
  left:-15px;
  border-right: 0px solid transparent;
  border-top: 2px solid #d6d2d2;
  border-left: 5px solid #d6d2d2;
  border-bottom: 2px solid transparent;
  width: 40px;
  height: 70px;
  z-index: 4;
  border-radius: 80% 0 10% 10%; 

 -webkit-transform: rotate(168deg) skewY(10deg);
 -moz-transform: rotate(168deg) skewY(10deg);
 -ms-transform: rotate(168deg) skewY(10deg);
 -o-transform: rotate(168deg) skewY(10deg);
 transform: rotate(168deg) skewY(10deg);

 -webkit-filter: blur(7px);
 -moz-filter: blur(7px);
 -o-filter: blur(7px);
 -ms-filter: blur(7px);
  filter: blur(7px);
 }

.steam:after{
top:40px;
left:-35px;
z-index: 4;
border-radius: 80% 0 10% 10%; 
-webkit-transform: rotate(315deg) skewY(10deg);
-moz-transform: rotate(315deg) skewY(10deg);
-ms-transform: rotate(315deg) skewY(10deg);
-o-transform: rotate(315deg) skewY(10deg);
transform: rotate(315deg) skewY(10deg);

-webkit-filter: blur(7px);
-moz-filter: blur(7px);
-o-filter: blur(7px);
-ms-filter: blur(7px);
filter: blur(7px);
}


@-webkit-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-moz-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-ms-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-o-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}