// -----------------------------------------------------------------------------
// CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.h-clearfix::after {
	clear: both;
	content: '';
	display: table;
}

/**
 * Center align text
 */
.h-text-center {
	text-align: center;
}

/**
 * Right align text
 */
.h-text-right {
	text-align: right;
}

/**
 * Float left
 */
.h-pull-left {
	float: left;
}

/**
 * Float Right
 */
.h-pull-right {
	float: right;
}

/**
 * Hide element
 */
.h-hidden {
	display: none !important;
}