@font-face {
  font-weight: bold;
  font-family: "Corbert-ExtraBold"; 
  src: url('../fonts/The Northern Block - Corbert ExtraBold.otf');
}
@font-face {
  font-weight: normal;
  font-family: "Corbert"; 
  src: url('../fonts/The Northern Block - Corbert.otf');
}
@font-face {
  font-weight: medium;
  font-family: "Corbert-Medium"; 
  src: url('../fonts/The Northern Block - Corbert Medium.otf');
}

.visibility_hid{  visibility: hidden } /* class used for SVG animation */
.bg { background-color: #aaa; } /* class for body background */

