// -----------------------------------------------------------------------------
// Bubble
// -----------------------------------------------------------------------------

.bubble {
	background-image: url( '../../img/bubble.png' );
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 1rem;
	height: 6.1rem;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	transform: scale( 1 );
	transition: all 0.5s ease-in-out;
	visibility: visible;
	width: 7rem;

	&__text {
		color: #ec9200;
		font-size: 1.8em;
		font-weight: 800;
		line-height: 5.8rem;
		margin: 0;
		position: relative;
		text-align: center;
	}

	&.-bubble-right {
		background-image: url( '../../img/bubble-right.png' );
	}

	&.-bubble-top {
		background-image: url( '../../img/bubble-top.png' );

		.bubble__text {
			top: 0.3rem;
		}
	}

	&.-bubble-big {
		background-image: url( '../../img/large_bubble.png' );
		bottom: 4.3rem;
		height: 7.5rem;
		left: auto;
		top: auto;
		width: 8.6rem;

		.bubble__text {
			line-height: 1.2;
			margin-top: 1.2rem;
		}
	}

	&.is-hidden {
		opacity: 0;
		transform: scale( 0.5 );
		visibility: hidden;
	}
}

.bubble-wrap {
	height: 0.1rem;
	opacity: 1;
	position: absolute;
	visibility: visible;
	width: 7rem;

	.bubble {
		left: -1.5rem;
		top: -10.6rem;
	}

	.tooltip {
		top: -3.8rem;
		transform: translateX( -50% );
		white-space: nowrap;
	}

	&.-bubble-right {

		.bubble {
			left: -8rem;
		}
	}

	&.-bubble-top {

		.bubble {
			left: 1rem;
			top: 4.6rem;
		}

		.tooltip {
			top: 1rem;
		}
	}

	&.is-hidden {
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
	}
}