.closebutton {
    width: 16rem;
    height: 2.5rem;
}

.dubainavo {
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    /*overflow: hidden;*/
}

.viewbutton {
    z-index: 9990;
    display: block;
    /*position: fixed;*/
    /*top: 60px;*/
    /*left: 80px;*/
    margin-top: 35px;
    margin-left: 80px;
    background-color: #c9c6c3;
    color: #3f424d;
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 22px;
    width: 150px;
    cursor: pointer;
    border: 0px;
    text-align: center;
}

.activeviewbutton {
    background-color: #e84353;
    color: #c9c7c3;
    font-family: 'kelson_sansregular', sans-serif;
}

#close_up {
    z-index: 25;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#dubai {
    z-index: 21;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.limits {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.opacityanimation {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}