.visibility_hid{  visibility: hidden } /* class used for SVG animation */
.bg { background-color: #eee; } /* class for body background */

.flexcontainer {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.flexchild {
    flex: 0 0 10em;
}

.svgwapper { width:90%;
    height: auto;
    max-width:1920px;
    margin: 1% auto;
}

#animation { background-color: #efefef; }

.st0 {fill:#C8002D;}
.st1 {fill:#141911;}
.st2 {fill:#555555;}

.topTravers-forging {
    animation: topTranslating 2s ease-in infinite;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes topTranslating {
    0% {-webkit-transform:translate(0, 10px);
        -moz-transform:translate(0, 10px);
        -o-transform:translate(0, 10px);
        transform:translate(0, 10px);}
    90% {-webkit-transform:translate(0, -20px);
        -moz-transform:translate(0, -20px);
        -o-transform:translate(0, -20px);
        transform:translate(0, -20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@-moz-keyframes topTranslating {
    0% {-webkit-transform:translate(0, 10px);
        -moz-transform:translate(0, 10px);
        -o-transform:translate(0, 10px);
        transform:translate(0, 10px);}
    90% {-webkit-transform:translate(0, -20px);
        -moz-transform:translate(0, -20px);
        -o-transform:translate(0, -20px);
        transform:translate(0, -20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@-o-keyframes topTranslating {
    0% {-webkit-transform:translate(0, 10px);
        -moz-transform:translate(0, 10px);
        -o-transform:translate(0, 10px);
        transform:translate(0, 10px);}
    90% {-webkit-transform:translate(0, -20px);
        -moz-transform:translate(0, -20px);
        -o-transform:translate(0, -20px);
        transform:translate(0, -20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@keyframes topTranslating {
    0% {-webkit-transform:translate(0, 10px);
        -moz-transform:translate(0, 10px);
        -o-transform:translate(0, 10px);
        transform:translate(0, 10px);}
    90% {-webkit-transform:translate(0, -20px);
        -moz-transform:translate(0, -20px);
        -o-transform:translate(0, -20px);
        transform:translate(0, -20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}

.bottomTravers-forging {
    animation: bottomTranslating 2s ease-in infinite;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes bottomTranslating {
    0% {-webkit-transform:translate(0, -10px);
        -moz-transform:translate(0, -10px);
        -o-transform:translate(0, -10px);
        transform:translate(0, -10px);}
    90% {-webkit-transform:translate(0, 20px);
        -moz-transform:translate(0, 20px);
        -o-transform:translate(0, 20px);
        transform:translate(0, 20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@-moz-keyframes bottomTranslating {
    0% {-webkit-transform:translate(0, -10px);
        -moz-transform:translate(0, -10px);
        -o-transform:translate(0, -10px);
        transform:translate(0, -10px);}
    90% {-webkit-transform:translate(0, 20px);
        -moz-transform:translate(0, 20px);
        -o-transform:translate(0, 20px);
        transform:translate(0, 20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@-o-keyframes bottomTranslating {
    0% {-webkit-transform:translate(0, -10px);
        -moz-transform:translate(0, -10px);
        -o-transform:translate(0, -10px);
        transform:translate(0, -10px);}
    90% {-webkit-transform:translate(0, 20px);
        -moz-transform:translate(0, 20px);
        -o-transform:translate(0, 20px);
        transform:translate(0, 20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
@keyframes bottomTranslating {
    0% {-webkit-transform:translate(0, -10px);
        -moz-transform:translate(0, -10px);
        -o-transform:translate(0, -10px);
        transform:translate(0, -10px);}
    90% {-webkit-transform:translate(0, 20px);
        -moz-transform:translate(0, 20px);
        -o-transform:translate(0, 20px);
        transform:translate(0, 20px);}
    100% {-webkit-transform:translate(0, 0px);
        -moz-transform:translate(0, 0px);
        -o-transform:translate(0, 0px);
        transform:translate(0, 0px);}
}
.cell {
    animation: cellMoving 2s linear infinite;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@keyframes cellMoving {
    45% {-webkit-transform:translate(0px, 0px);
        -moz-transform:translate(0px, 0px);
        -o-transform:translate(0px, 0px);
        transform:translate(0px, 0px);}
    100% {-webkit-transform:translate(34px, 0px);
        -moz-transform:translate(34px, 0px);
        -o-transform:translate(34px, 0px);
        transform:translate(34px, 0px);}
}


.brick1 {
    opacity: 0;
    animation:
            cellMoving 2s linear infinite,
            brick_appeare 0s 2s linear 1 forwards;
}

.brick2 {
    opacity: 0;
    animation:
            cellMoving 2s linear infinite,
            brick_appeare 0s 4s linear 1 forwards;
}

.brick3 {
    opacity: 0;
    animation:
            cellMoving 2s linear infinite,
            brick_appeare 0s 6s linear 1 forwards;
}


.brick4 {
    opacity: 0;
    animation:
            cellMoving 2s linear infinite,
            brick_appeare 0s 8s linear infinite forwards,
            brick4_disappeare 2s 8s linear infinite forwards;
}

@keyframes brick_appeare {
    100% {
        opacity: 1;
    }
}

@keyframes brick4_disappeare {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
