// -----------------------------------------------------------------------------
// Map
// -----------------------------------------------------------------------------

.map {
	height: calc( 100vh - 10rem + 1px );
	position: relative;
	top: -1px;
}