@font-face {
  font-weight:normal;
  font-family: AvenirNextLT; 
  src: url('avenirnextltpro-regular.otf');
}
@font-face {
  font-weight:bold;
  font-family: AvenirNextLT; 
  src: url('avenirnextltpro-bold.otf');
}
.flexcontainer {
  display: flex; /* or inline-flex */
  height: 100%; 
}
.flexchild {
  width: 100%;  
  height: 100%;
  margin: auto;  
}
.visibility_hid{  visibility: hidden }