// -----------------------------------------------------------------------------
// Country Info Box
// -----------------------------------------------------------------------------

.country-info-box {
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.9 );
	font-size: 1rem;
	padding: 8px;
	position: absolute;
	width: 15rem;
	z-index: 12;

	&__title {
		color: $theme-color;
		font-size: 1.6em;
		font-weight: 800;
	}

	&__subtitle {
		font-size: 1.2em;
		font-weight: 800;
	}

	ul {
		font-size: 1.2em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-left: 8px;
		position: relative;

		&:before {
			background-color: $text-color;
			border-radius: 50%;
			content: "";
			display: block;
			height: 4px;
			left: 0;
			position: absolute;
			top: 5px;
			width: 4px;
		}
	}

	a {
		color: $theme-color;
		font-size: 1.2em;
		text-decoration: none;
	}

	&.-arrow-left:before,
	&.-arrow-right:before {
		border-bottom: 17px solid transparent;
		border-top: 17px solid transparent;
		content: "";
		display: block;
		height: 0;
		position: absolute;
		top: 50%;
		transform: translateY( -50% );
		width: 0;
	}

	&.-arrow-bottom:before,
	&.-arrow-top:before {
		border-left: 17px solid transparent;
		border-right: 17px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		transform: translateX( -50% );
		width: 0;
	}

	&.-arrow-left:before {
		border-right: 17px solid rgba( 255, 255, 255, 0.9 );
		left: -17px;
	}

	&.-arrow-right:before {
		border-left: 17px solid rgba( 255, 255, 255, 0.9 );
		right: -17px;
	}

	&.-arrow-bottom:before {
		border-top: 17px solid rgba( 255, 255, 255, 0.9 );
		bottom: -17px;
	}

	&.-arrow-top:before {
		border-bottom: 17px solid rgba( 255, 255, 255, 0.9 );
		top: -17px;
	}

	&.is-hidden {
		display: none;
	}
}